<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    </style>
</head>
<body>
<div class="container">

    <div class="row">

        <div class="col-3 border border-dark">
        Students
        <ul>

    <!--    <li> Dan</li>-->
    <!--    <li> Steve</li>-->
    <!--    <li> Andrew</li>-->
        </ul>
    </div>

        <div class="col-3 border border-dark">
            Subjects
            <ul>
                <li> Math</li>
                <li> Physics</li>
            </ul>
        </div>

        </div>

        <div class="row">

    </div>


    <div class="row">

        <div class="col-1 border border-dark">
            <ul>

                <li> Dan</li>
                <li> Steve</li>
                <li> Andrew</li>
            </ul>
        </div>

        <div class="col-3 border border-dark">
        Subjects
            <ul>
                <li> Math Physics Drawing</li>
            </ul>
        </div>

    </div>

    <div class="row">

    <div class="col"> 123 </div>

    </div>

</div>
</body>
<!-- Latest compiled and minified JavaScript -->
<script
  src="https://code.jquery.com/jquery-3.5.1.slim.js"
  integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</html>